@import '../../mixin.scss';

.nav {
  z-index: 9000;
  position: fixed;
  height: 60px;
  min-width: 320px;
  width: calc(100% - 48px);
  max-width: 640px;
  bottom: 0;
  left: 50%;
  // 緊急修復 nav 組件 rwd 動態設計
  @include transform(translateX(-50%) translateY(0));
  @include transition(0.5s cubic-bezier(0.5, 1.57, 0.38, 0.98));

  @media (min-width: 553px) {
    width: calc(100% - 48px);

    &:hover {
      height: 66px;

      &::after {
        content: '';
        position: absolute;
        height: 24px;
        width: 100%;
        bottom: 0;
        @include transform(translateY(100%));
      }

      > div {
        @include border_radius(36px);
      }
      // 縮小過渡位移距離，讓使用者更便於操作
      @include transform(translateX(-50%) translateY(-12px));
    }
  }

  @media (max-width: 552px) {
    @include transform(translateX(-50%) translateY(-24px));
  }

  * {
    user-select: none;
  }

  > div {
    @include flex-layout(row, null, null);
    height: 100%;
    padding: 6px;
    background: var(--white_opacity_7);
    border-top: 1px solid var(--white_opacity_5);
    border-left: 1px solid var(--white_opacity_5);
    box-shadow: 0 3px 10px 0 #0000000f, 0 6px 50px 0 #0000000a;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    -ms-overflow-style: none; /* IE 和 Edge */
    scrollbar-width: none; /* Firefox */
    @include border-radius(36px);
    @include transition(0.5s cubic-bezier(0.5, 1.57, 0.38, 0.98));

    @media (min-width: 553px) {
      @include border-radius(30px 30px 0 0);
    }

    &::-webkit-scrollbar {
      display: none;
    }

    > ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      // padding: 0 9px;

      > li {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        list-style: none;
        width: 100%;
        height: 100%;
        cursor: pointer;
        @include border-radius(36px);

        &:hover {
          background: var(--black_opacity_1);

          > a {
            // color: var(--green_D3);
            > svg {
              &.more {
                top: 9px;

                @media (max-width: 552px) {
                  top: 3px;
                }
                @media (max-width: 480px) {
                  top: 0;
                }

                transform: rotateX(0deg);
                -webkit-transform: rotateX(0deg);
                -moz-transform: rotateX(0deg);
                -ms-transform: rotateX(0deg);
                -o-transform: rotateX(0deg);
              }
            }
          }
          > ul {
            z-index: 100;
            opacity: 1;
            user-select: none;
            pointer-events: all;
            @include transform(translateY(-36px));

            &::after {
              // 此次調整了選項到彈出列表的扇形面積，讓用戶可以更輕鬆的使用鼠標滑動到列表選項，而不會收回
              z-index: 1000;
              content: '';
              position: absolute;
              bottom: 3px;
              left: 0;
              height: 24px + 30px;
              width: 100%;
              @include transform(translateY(100%));
              @include border_radius(0 0 48px 48px);
            }
          }
        }

        &.actv {
          * {
            color: var(--green_D3);
          }
          background: var(--green_L8);
        }

        @media (max-width: 552px) {
          width: 72px;
        }

        &.hidden {
          position: absolute;
          width: 0;
          overflow: hidden;
          // max-width: 0;
        }

        &:first-child {
          ul {
            left: 0;
          }
        }
        &:last-child {
          ul {
            right: 0;
          }
        }

        > a {
          @include flex-layout(row, center, center);
          font-size: 1.1rem;
          color: var(--black_opacity_8);
          // font-weight: 600;
          white-space: nowrap;
          height: 100%;
          width: 100%;
          @include border_radius(40);

          > svg.icon {
            margin-right: 6px;

            @media (max-width: 552px) {
              display: none;
            }
            @media (max-width: 480px) {
              display: block;
              margin-right: 0;
              font-size: 1.5rem;
            }
          }
          > span {
            @media (max-width: 480px) {
              display: none;
            }
          }
        }

        > svg {
          &.more {
            position: absolute;
            top: 3px;
            color: var(--black_opacity_2);
            @include transition(0.5s cubic-bezier(0.23, 1, 0.32, 1));

            @media (max-width: 552px) {
              top: 0;
            }
            @media (max-width: 480px) {
              top: -3px;
            }

            transform: rotateX(60deg);
            -webkit-transform: rotateX(60deg);
            -moz-transform: rotateX(60deg);
            -ms-transform: rotateX(60deg);
            -o-transform: rotateX(60deg);
          }
        }

        > ul {
          z-index: -100;
          display: flex;
          flex-direction: column-reverse;
          padding: 12px 15px;
          bottom: 36px;
          width: fit-content;
          position: absolute;
          opacity: 0;
          background-color: var(--white);
          border-top: 1px solid var(--white_opacity_5);
          border-left: 1px solid var(--white_opacity_5);
          box-shadow: 0 3px 10px 0 #0000000f, 0 6px 50px 0 #0000000a;
          -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
          user-select: none;
          pointer-events: none;

          > hr {
            margin: 3px 0;
            height: 3px;
            background: #0000000a;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
          }

          > li {
            list-style: none;
            width: 100%;
            cursor: pointer;

            // margin 改為使用 padding（避免列表元素之間存在間隙，更利於使用者點擊）
            &:not(:first-child, :last-child) {
              padding: 6px 0;
            }
            &:first-child {
              padding-top: 6px;
            }
            &:last-child {
              padding-bottom: 6px;
            }
            &:is(:first-child):is(:last-child) {
              padding: 0;
            }

            &:hover {
              > p,
              a {
                font-family: 'ZenMaruGothic-Medium';
                color: var(--green_D2);
                > svg {
                  opacity: 1;
                  margin-left: 6px;
                }
              }
            }
            > p,
            a {
              font-family: 'ZenMaruGothic-Medium';
              width: 100%;
              white-space: nowrap;
              color: var(--green_D8);
              margin: 0;
              border: 0;

              > svg {
                color: var(--green_D2);
                opacity: 0;
                transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
                -webkit-transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
                -moz-transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
                -ms-transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
                -o-transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
              }

              transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
              -webkit-transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
              -moz-transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
              -ms-transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
              -o-transition: 0.4s cubic-bezier(0.54, 1.92, 0.23, 0.95);
            }
          }

          // 統一動畫風格，新動畫擁有超出回彈效果，模擬真實物理狀態
          transition: 0.5s cubic-bezier(0.5, 1.57, 0.38, 0.98);
          -webkit-transition: 0.5s cubic-bezier(0.5, 1.57, 0.38, 0.98);
          -moz-transition: 0.5s cubic-bezier(0.5, 1.57, 0.38, 0.98);
          -ms-transition: 0.5s cubic-bezier(0.5, 1.57, 0.38, 0.98);
          -o-transition: 0.5s cubic-bezier(0.5, 1.57, 0.38, 0.98);
          border-radius: 13px;
          -webkit-border-radius: 13px;
          -moz-border-radius: 13px;
          -ms-border-radius: 13px;
          -o-border-radius: 13px;
        }
        transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        -moz-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        -o-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }
}
