node_modules/
dist/
react-scripts/
.vscode/
**/.cache
.env

# Firebase
.firebase/
.firebaserc
storage.rules
firebase.json
firestore.rules
firestore.indexes.rules
firestore.indexes.json
database.rules.json
firestore.rules

**/.DS_Store