node_modules/
.firebase
/dist
/.cache
**/.DS_Store
**/react-scripts
**/storage.rules
**/firebase.json
**/firestore.rules
**/firestore.indexes.rules
**/firestore.indexes.json
**/database.rules.json
**/firestore.rules
**/package.json
**/package-lock.json
**/.env