.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // position: relative;
  padding: 0 24px;
  width: 100%;
  height: fit-content;

  @media (max-width: 900px) {
    padding: 0 12px;
  }

  > div.assistant {
    z-index: 100;
    position: absolute;
    bottom: 158px;
    right: 50%;
    opacity: 0;
    box-shadow: 0 6px 30px 40px var(--green_L8);

    &.actv {
      opacity: 1;
      transform: scale(1) translateX(50%);
      -webkit-transform: scale(1) translateX(50%);
      -moz-transform: scale(1) translateX(50%);
      -ms-transform: scale(1) translateX(50%);
      -o-transform: scale(1) translateX(50%);
    }
    &.loading {
      opacity: 1;
      transform: scale(1) translateX(50%);
      -webkit-transform: scale(1) translateX(50%);
      -moz-transform: scale(1) translateX(50%);
      -ms-transform: scale(1) translateX(50%);
      -o-transform: scale(1) translateX(50%);
    }

    > .circle {
      position: absolute;
      right: -25px;
      bottom: -25px;
      // -webkit-backdrop-filter: saturate(180%) blur(6px);
      // backdrop-filter: saturate(180%) blur(6px);

      &.loading {
        background: rgba(72, 213, 102, 1);

        &:nth-child(1) {
          height: 40px;
          width: 40px;
          right: 100px;
          background: rgba(72, 213, 102, 1);
          opacity: 1;
          animation: circle_load 1s linear 0s infinite;
          -webkit-animation: circle_load 1s linear 0s infinite;
        }
        &:nth-child(2) {
          height: 40px;
          width: 40px;
          right: 50px;
          background: rgba(72, 213, 102, 1);
          opacity: 1;
          animation: circle_load 1s linear 0.2s infinite;
          -webkit-animation: circle_load 1s linear 0.2s infinite;
        }
        &:nth-child(3) {
          height: 40px;
          width: 40px;
          right: 0;
          background: rgba(72, 213, 102, 1);
          opacity: 1;
          animation: circle_load 1s linear 0.4s infinite;
          -webkit-animation: circle_load 1s linear 0.4s infinite;
        }
        &:nth-child(4) {
          height: 40px;
          width: 40px;
          right: -50px;
          background: rgba(72, 213, 102, 1);
          opacity: 1;
          animation: circle_load 1s linear 0.6s infinite;
          -webkit-animation: circle_load 1s linear 0.6s infinite;
        }
        &:nth-child(5) {
          height: 40px;
          width: 40px;
          right: -100px;
          background: rgba(72, 213, 102, 1);
          opacity: 1;
          animation: circle_load 1s linear 0.8s infinite;
          -webkit-animation: circle_load 1s linear 0.8s infinite;
        }
      }

      @keyframes circle_load {
        0% {
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
        }
        15% {
          height: 40px;
          width: 40px;
        }
        25% {
          height: 35px;
          width: 43px;
          transform: translateY(-60%);
          -webkit-transform: translateY(-60%);
          -moz-transform: translateY(-60%);
          -ms-transform: translateY(-60%);
          -o-transform: translateY(-60%);
        }
        35% {
          height: 40px;
          width: 40px;
        }
        60% {
          height: 40px;
          width: 40px;
        }
        75% {
          height: 30px;
          width: 45px;
          transform: translateY(60%);
          -webkit-transform: translateY(60%);
          -moz-transform: translateY(60%);
          -ms-transform: translateY(60%);
          -o-transform: translateY(60%);
        }
        90% {
          height: 40px;
          width: 40px;
        }
        100% {
          transform: translateY(0%);
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          -o-transform: translateY(0%);
        }
      }

      &:nth-child(1) {
        z-index: 30;
        height: 50px;
        width: 50px;
        background: rgba(72, 213, 102, 0.6);
        animation: circle_1 4s linear 0s infinite;
        -webkit-animation: circle_1 4s linear 0s infinite;
      }
      @keyframes circle_1 {
        0% {
          transform: rotate(0deg) translateX(-30%) translateY(-30%);
          -webkit-transform: rotate(0deg) translateX(-30%) translateY(-30%);
          -moz-transform: rotate(0deg) translateX(-30%) translateY(-30%);
          -ms-transform: rotate(0deg) translateX(-30%) translateY(-30%);
          -o-transform: rotate(0deg) translateX(-30%) translateY(-30%);
        }
        25% {
          transform: rotate(90deg) translateX(-25%) translateY(-25%);
          -webkit-transform: rotate(90deg) translateX(-25%) translateY(-25%);
          -moz-transform: rotate(90deg) translateX(-25%) translateY(-25%);
          -ms-transform: rotate(90deg) translateX(-25%) translateY(-25%);
          -o-transform: rotate(90deg) translateX(-25%) translateY(-25%);
        }
        50% {
          transform: rotate(180deg) translateX(-20%) translateY(-20%);
          -webkit-transform: rotate(180deg) translateX(-20%) translateY(-20%);
          -moz-transform: rotate(180deg) translateX(-20%) translateY(-20%);
          -ms-transform: rotate(180deg) translateX(-20%) translateY(-20%);
          -o-transform: rotate(180deg) translateX(-20%) translateY(-20%);
        }
        75% {
          transform: rotate(270deg) translateX(-25%) translateY(-25%);
          -webkit-transform: rotate(270deg) translateX(-25%) translateY(-25%);
          -moz-transform: rotate(270deg) translateX(-25%) translateY(-25%);
          -ms-transform: rotate(270deg) translateX(-25%) translateY(-25%);
          -o-transform: rotate(270deg) translateX(-25%) translateY(-25%);
        }
        100% {
          transform: rotate(360deg) translateX(-30%) translateY(-30%);
          -webkit-transform: rotate(360deg) translateX(-30%) translateY(-30%);
          -moz-transform: rotate(360deg) translateX(-30%) translateY(-30%);
          -ms-transform: rotate(360deg) translateX(-30%) translateY(-30%);
          -o-transform: rotate(360deg) translateX(-30%) translateY(-30%);
        }
      }
      &:nth-child(2) {
        z-index: 10;
        height: 60px;
        width: 60px;
        background: rgba(72, 213, 102, 0.2);
        animation: circle_2 5s linear 0s infinite;
        -webkit-animation: circle_2 5s linear 0s infinite;
      }
      @keyframes circle_2 {
        0% {
          transform: rotate(0deg) translateX(-5%) translateY(-5%);
          -webkit-transform: rotate(0deg) translateX(-5%) translateY(-5%);
          -moz-transform: rotate(0deg) translateX(-5%) translateY(-5%);
          -ms-transform: rotate(0deg) translateX(-5%) translateY(-5%);
          -o-transform: rotate(0deg) translateX(-5%) translateY(-5%);
        }
        25% {
          transform: rotate(-90deg) translateX(-13%) translateY(-13%);
          -webkit-transform: rotate(-90deg) translateX(-13%) translateY(-13%);
          -moz-transform: rotate(-90deg) translateX(-13%) translateY(-13%);
          -ms-transform: rotate(-90deg) translateX(-13%) translateY(-13%);
          -o-transform: rotate(-90deg) translateX(-13%) translateY(-13%);
        }
        50% {
          transform: rotate(-180deg) translateX(-20%) translateY(-20%);
          -webkit-transform: rotate(-180deg) translateX(-20%) translateY(-20%);
          -moz-transform: rotate(-180deg) translateX(-20%) translateY(-20%);
          -ms-transform: rotate(-180deg) translateX(-20%) translateY(-20%);
          -o-transform: rotate(-180deg) translateX(-20%) translateY(-20%);
        }
        75% {
          transform: rotate(-270deg) translateX(-13%) translateY(-13%);
          -webkit-transform: rotate(-270deg) translateX(-13%) translateY(-13%);
          -moz-transform: rotate(-270deg) translateX(-13%) translateY(-13%);
          -ms-transform: rotate(-270deg) translateX(-13%) translateY(-13%);
          -o-transform: rotate(-270deg) translateX(-13%) translateY(-13%);
        }
        100% {
          transform: rotate(-360deg) translateX(-5%) translateY(-5%);
          -webkit-transform: rotate(-360deg) translateX(-5%) translateY(-5%);
          -moz-transform: rotate(-360deg) translateX(-5%) translateY(-5%);
          -ms-transform: rotate(-360deg) translateX(-5%) translateY(-5%);
          -o-transform: rotate(-360deg) translateX(-5%) translateY(-5%);
        }
      }
      &:nth-child(3) {
        z-index: 20;
        height: 45px;
        width: 45px;
        background: rgba(72, 213, 102, 0.4);
        animation: circle_3 5s linear 0s infinite;
        -webkit-animation: circle_3 5s linear 0s infinite;
      }
      @keyframes circle_3 {
        0% {
          transform: rotate(0deg) translateX(-25%) translateY(-5%);
          -webkit-transform: rotate(0deg) translateX(-25%) translateY(-5%);
          -moz-transform: rotate(0deg) translateX(-25%) translateY(-5%);
          -ms-transform: rotate(0deg) translateX(-25%) translateY(-5%);
          -o-transform: rotate(0deg) translateX(-25%) translateY(-5%);
        }
        25% {
          transform: rotate(90deg) translateX(-35%) translateY(-15%);
          -webkit-transform: rotate(90deg) translateX(-35%) translateY(-15%);
          -moz-transform: rotate(90deg) translateX(-35%) translateY(-15%);
          -ms-transform: rotate(90deg) translateX(-35%) translateY(-15%);
          -o-transform: rotate(90deg) translateX(-35%) translateY(-15%);
        }
        50% {
          transform: rotate(180deg) translateX(-45%) translateY(-25%);
          -webkit-transform: rotate(180deg) translateX(-45%) translateY(-25%);
          -moz-transform: rotate(180deg) translateX(-45%) translateY(-25%);
          -ms-transform: rotate(180deg) translateX(-45%) translateY(-25%);
          -o-transform: rotate(180deg) translateX(-45%) translateY(-25%);
        }
        75% {
          transform: rotate(270deg) translateX(-35%) translateY(-15%);
          -webkit-transform: rotate(270deg) translateX(-35%) translateY(-15%);
          -moz-transform: rotate(270deg) translateX(-35%) translateY(-15%);
          -ms-transform: rotate(270deg) translateX(-35%) translateY(-15%);
          -o-transform: rotate(270deg) translateX(-35%) translateY(-15%);
        }
        100% {
          transform: rotate(360deg) translateX(-25%) translateY(-5%);
          -webkit-transform: rotate(360deg) translateX(-25%) translateY(-5%);
          -moz-transform: rotate(360deg) translateX(-25%) translateY(-5%);
          -ms-transform: rotate(360deg) translateX(-25%) translateY(-5%);
          -o-transform: rotate(360deg) translateX(-25%) translateY(-5%);
        }
      }
      &:nth-child(4) {
        z-index: 50;
        height: 30px;
        width: 30px;
        background: rgba(72, 213, 102, 1);
        animation: circle_4 3s linear 0s infinite;
        -webkit-animation: circle_4 3s linear 0s infinite;
      }
      @keyframes circle_4 {
        0% {
          transform: rotate(0deg) translateX(-35%) translateY(-35%);
          -webkit-transform: rotate(0deg) translateX(-35%) translateY(-35%);
          -moz-transform: rotate(0deg) translateX(-35%) translateY(-35%);
          -ms-transform: rotate(0deg) translateX(-35%) translateY(-35%);
          -o-transform: rotate(0deg) translateX(-35%) translateY(-35%);
        }
        25% {
          transform: rotate(90deg) translateX(-40%) translateY(-40%);
          -webkit-transform: rotate(90deg) translateX(-40%) translateY(-40%);
          -moz-transform: rotate(90deg) translateX(-40%) translateY(-40%);
          -ms-transform: rotate(90deg) translateX(-40%) translateY(-40%);
          -o-transform: rotate(90deg) translateX(-40%) translateY(-40%);
        }
        50% {
          transform: rotate(180deg) translateX(-50%) translateY(-50%);
          -webkit-transform: rotate(180deg) translateX(-50%) translateY(-50%);
          -moz-transform: rotate(180deg) translateX(-50%) translateY(-50%);
          -ms-transform: rotate(180deg) translateX(-50%) translateY(-50%);
          -o-transform: rotate(180deg) translateX(-50%) translateY(-50%);
        }
        75% {
          transform: rotate(270deg) translateX(-40%) translateY(-40%);
          -webkit-transform: rotate(270deg) translateX(-40%) translateY(-40%);
          -moz-transform: rotate(270deg) translateX(-40%) translateY(-40%);
          -ms-transform: rotate(270deg) translateX(-40%) translateY(-40%);
          -o-transform: rotate(270deg) translateX(-40%) translateY(-40%);
        }
        100% {
          transform: rotate(360deg) translateX(-35%) translateY(-35%);
          -webkit-transform: rotate(360deg) translateX(-35%) translateY(-35%);
          -moz-transform: rotate(360deg) translateX(-35%) translateY(-35%);
          -ms-transform: rotate(360deg) translateX(-35%) translateY(-35%);
          -o-transform: rotate(360deg) translateX(-35%) translateY(-35%);
        }
      }
      &:nth-child(5) {
        z-index: 40;
        height: 35px;
        width: 35px;
        background: rgba(72, 213, 102, 0.8);
        animation: circle_5 4s linear 0s infinite;
        -webkit-animation: circle_5 4s linear 0s infinite;
      }
      @keyframes circle_5 {
        0% {
          transform: rotate(0deg) translateX(-5%) translateY(-5%);
          -webkit-transform: rotate(0deg) translateX(-5%) translateY(-5%);
          -moz-transform: rotate(0deg) translateX(-5%) translateY(-5%);
          -ms-transform: rotate(0deg) translateX(-5%) translateY(-5%);
          -o-transform: rotate(0deg) translateX(-5%) translateY(-5%);
        }
        25% {
          transform: rotate(-90deg) translateX(-15%) translateY(-15%);
          -webkit-transform: rotate(-90deg) translateX(-15%) translateY(-15%);
          -moz-transform: rotate(-90deg) translateX(-15%) translateY(-15%);
          -ms-transform: rotate(-90deg) translateX(-15%) translateY(-15%);
          -o-transform: rotate(-90deg) translateX(-15%) translateY(-15%);
        }
        50% {
          transform: rotate(-180deg) translateX(-25%) translateY(-25%);
          -webkit-transform: rotate(-180deg) translateX(-25%) translateY(-25%);
          -moz-transform: rotate(-180deg) translateX(-25%) translateY(-25%);
          -ms-transform: rotate(-180deg) translateX(-25%) translateY(-25%);
          -o-transform: rotate(-180deg) translateX(-25%) translateY(-25%);
        }
        75% {
          transform: rotate(-270deg) translateX(-15%) translateY(-15%);
          -webkit-transform: rotate(-270deg) translateX(-15%) translateY(-15%);
          -moz-transform: rotate(-270deg) translateX(-15%) translateY(-15%);
          -ms-transform: rotate(-270deg) translateX(-15%) translateY(-15%);
          -o-transform: rotate(-270deg) translateX(-15%) translateY(-15%);
        }
        100% {
          transform: rotate(-360deg) translateX(-5%) translateY(-5%);
          -webkit-transform: rotate(-360deg) translateX(-5%) translateY(-5%);
          -moz-transform: rotate(-360deg) translateX(-5%) translateY(-5%);
          -ms-transform: rotate(-360deg) translateX(-5%) translateY(-5%);
          -o-transform: rotate(-360deg) translateX(-5%) translateY(-5%);
        }
      }

      // background: var(--theme);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: 1s ease-in-out;
      -webkit-transition: 1s ease-in-out;
      -moz-transition: 1s ease-in-out;
      -ms-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out;
    }
    transform: scale(0.5) translateX(50%);
    -webkit-transform: scale(0.5) translateX(50%);
    -moz-transform: scale(0.5) translateX(50%);
    -ms-transform: scale(0.5) translateX(50%);
    -o-transform: scale(0.5) translateX(50%);
    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
  }

  > div.chat_block {
    position: relative;
    margin-bottom: 6px;
    padding: 12px 12px;
    width: 100%;
    max-width: 860px;
    background: #ffffffd1;

    &.expire {
      position: relative;
      opacity: 0.5;

      &::after {
        content: '已遺忘';
        position: absolute;
        top: 6px;
        right: 9px;
        font-size: 0.8rem;
      }
    }
    &.user {
      background: #ffffff00;

      > span {
        background: var(--green);
        color: #fff;
        font-weight: bolder;
      }
    }
    &:global(.animation) {
      opacity: 0;
      transform: scaleX(0.8) scaleY(0.3) translateY(200px);
      -webkit-transform: scaleX(0.8) scaleY(0.3) translateY(200px);
      -moz-transform: scaleX(0.8) scaleY(0.3) translateY(200px);
      -ms-transform: scaleX(0.8) scaleY(0.3) translateY(200px);
      -o-transform: scaleX(0.8) scaleY(0.3) translateY(200px);
    }
    &:global(.animation_other) {
      opacity: 0;
      transform: scaleX(0.9) scaleY(0.7) translateY(100px);
      -webkit-transform: scaleX(0.9) scaleY(0.7) translateY(100px);
      -moz-transform: scaleX(0.9) scaleY(0.7) translateY(100px);
      -ms-transform: scaleX(0.9) scaleY(0.7) translateY(100px);
      -o-transform: scaleX(0.9) scaleY(0.7) translateY(100px);
    }

    > audio {
      position: absolute;
      top: 11px;
      right: 11px;
      height: 28px;
      max-width: calc(100% - 108px);
    }

    > span {
      font-size: 0.8rem;
      padding: 2px 8px;
      color: var(--green_D3);
      background: var(--green_L7);
      cursor: default;

      &.noAudio {
        position: absolute;
        top: 11px;
        right: 11px;
        color: var(--green_D3);
        background: #ffffff00;
      }

      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
    }
    > p {
      color: var(--green_D8);
      margin: 9px 3px 3px 3px;
      white-space: pre-line;
    }

    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  }
}
