.view {
  z-index: 9000;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: calc(100% - 60px);
  padding-top: 24px;

  > .container {
    width: 100%;
    height: 100%;
    max-width: 720px;
    padding: 24px;
    background: var(--green_L9);
    box-shadow: 0 54px - 24px 54px 0 hsla(0, 0%, 0%, 0.1),
      0 0 12px 0 hsla(0, 0%, 0%, 0.05);

    &.pageAnimation {
      transform: translateY(100%);
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);

      @media (min-width: 823px) {
        transform: translateY(100%) scale(0.9);
        -webkit-transform: translateY(100%) scale(0.9);
        -moz-transform: translateY(100%) scale(0.9);
        -ms-transform: translateY(100%) scale(0.9);
        -o-transform: translateY(100%) scale(0.9);
      }
    }

    > .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      // height: 48px;

      > .title {
        > p {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      > .controls {
        display: flex;
        flex-direction: row;
        height: 100%;

        > button {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          align-self: flex-start;
          height: 32px;
          min-width: 32px;
          padding: 0 11px;
          margin-left: 6px;
          background: var(--green_L6);
          color: var(--green);

          &.accent {
            background: var(--green);
            color: var(--green_L8);
          }

          > span {
            margin: 0 2px 2px 3px;
          }

          border-radius: 18px;
          -webkit-border-radius: 18px;
          -moz-border-radius: 18px;
          -ms-border-radius: 18px;
          -o-border-radius: 18px;
        }
      }
    }
    > .content {
    }
    border-radius: 17px 17px 0 0;
    -webkit-border-radius: 17px 17px 0 0;
    -moz-border-radius: 17px 17px 0 0;
    -ms-border-radius: 17px 17px 0 0;
    -o-border-radius: 17px 17px 0 0;
    transition: 0.6s cubic-bezier(0.53, 1.25, 0.45, 0.98);
    -webkit-transition: 0.6s cubic-bezier(0.53, 1.25, 0.45, 0.98);
    -moz-transition: 0.6s cubic-bezier(0.53, 1.25, 0.45, 0.98);
    -ms-transition: 0.6s cubic-bezier(0.53, 1.25, 0.45, 0.98);
    -o-transition: 0.6s cubic-bezier(0.53, 1.25, 0.45, 0.98);
  }
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
