@import '../../mixin.scss';

// action button height
$actionButtonHeight: 36px;

.container {
  z-index: 100;
  @include flex-layout(row, null, space-between);
  position: sticky;
  top: 12px;
  padding: 6px 12px;
  width: 100%;
  background: var(--bg_base_light);
  box-shadow: 0 -24px 12px 36px var(--bg_base_light);

  @media (max-width: 900px) {
    top: -6px;
  }

  > .header {
    > h1 {
      @include font(2rem, 600);
    }
    > p {
      font-size: 1rem;
    }
  }
  > .actions {
    > button {
      @include buttonDynamicSize($actionButtonHeight);
      @include font_bg_Color(var(--green_D5), var(--green_L8));
    }
  }
}
