.container {
  // height: 100%;
  width: 100%;
  position: relative;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 120px 24px;
    height: calc(100vh);
    width: 100%;
    overflow: hidden;

    > img {
      z-index: -1;
      position: absolute;
      right: 0;
      top: -54px;
      height: 120%;
      min-width: 100%;
    }

    // Tag
    span.tag {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 24px 0;
      left: 0;
      top: -48px;
      text-align: end;
      height: 36px;
      padding: 6px 12px;
      font-size: calc(0.6rem + 0.6vw);
      width: fit-content;
      color: #ffffffd1;
      text-shadow: none;
      background: var(--theme);

      &[data-type='center'] {
        align-self: center;
      }

      border-radius: 18px;
      -webkit-border-radius: 18px;
      -moz-border-radius: 18px;
      -ms-border-radius: 18px;
      -o-border-radius: 18px;
    }

    // 入口版面
    &.header {
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: var(--green_L8);

      > div.title {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: fit-content;
        height: max-content;
        // padding-top: 48px;

        > img {
          width: 120px;
        }
        > h1 {
          position: relative;
          width: fit-content;
          color: var(--green_D3);
          font-size: calc(1.5rem + 3vw);
          font-family: ZenMaruGothic-Black;
          letter-spacing: 9px;
        }

        > p {
          margin: 18px 0;
          text-align: center;
          color: var(--font-blue);
          font-size: calc(1rem + 1vw);
          font-family: ZenMaruGothic-Bold;
        }
      }
    }

    // 專題簡略介紹 intro
    &.intro {
      background: var(--green_L7);
      width: 100%;

      > div.title {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: calc(100% - 24px);
        max-width: 720px;

        &.l {
          left: 5%;
        }

        &.r {
          right: 5%;
          align-items: flex-end;

          > h1 {
            > span {
            }
          }
        }

        > h1 {
          position: relative;
          width: fit-content;
          font-size: calc(1.2rem + 3vw);
          font-family: ZenMaruGothic-Black;
          color: var(--green_D3);

          > span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -48px;
            left: 0;
            text-align: end;
            height: 36px;
            padding: 6px 12px;
            font-size: calc(0.6rem + 0.6vw);
            width: fit-content;
            color: #ffffffd1;
            text-shadow: none;
            background: var(--theme);
            border-radius: 18px;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            -ms-border-radius: 18px;
            -o-border-radius: 18px;
          }
        }
        > p {
          text-align: start;
          font-size: calc(0.8rem + 1vw);
          color: var(--green_D2);
        }
      }
    }

    &:not(.header) > img {
      top: -30%;
    }

    &.team {
    }

    &.product {
      position: relative;
      height: 200vh;

      > div {
        &.microfarm {
          position: absolute;
          bottom: 24px;
          left: 12px;
          width: fit-content;

          > img {
            &.microfarm {
              height: auto;
              width: 60vw;
            }
            &.arrow {
              position: absolute;
              left: 50vw;
              bottom: 0;
              width: 240px;
            }
          }

          > p {
            position: absolute;
            right: -48px;
            bottom: 0;
            color: var(--green_D3);
            font-size: 2rem;
            font-family: ZenMaruGothic-Bold;
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
          }
        }
      }
    }
  }
}
