.container {
  // height: 100%;
  width: 100%;
  position: relative;

  > div {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 120px 10%;
    height: calc(100vh);
    width: 100%;
    overflow: hidden;

    @media (max-width: 600px) {
      padding: 120px 24px;
    }

    // 通用配置
    span {
      &:global(.nowrap) {
        display: inline-block;
        font-family: inherit;
        text-decoration: inherit;
        white-space: nowrap;
      }
      &:global(.end) {
        display: inline-block;
        font-family: inherit;
        text-decoration: inherit;
        position: absolute;
      }
    }

    // 對齊方式
    &.top {
      justify-content: flex-start;
    }
    &.bottom {
      justify-content: flex-end;
    }
    &.left {
      align-items: flex-start;
    }
    &.right {
      align-items: flex-end;
      > div.title {
        align-items: flex-end;

        > h1 {
          > span {
            left: inherit;
            right: 0;
          }
        }
        > p {
          text-align: end;
        }
      }
    }
    &.center_h {
      align-items: center;

      > div.title {
        align-items: center;

        > h1 {
          > span {
            left: inherit;
            // right: 0;
          }
        }
        > p {
          text-align: center;
        }
      }
    }
    &.center_v {
      justify-content: center;
    }

    // 入口版面
    &.header {
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: var(--green_L8);

      > div.title {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: fit-content;
        height: max-content;
        // padding-top: 48px;

        > img {
          width: 120px;
        }
        > h1 {
          position: relative;
          width: fit-content;
          color: var(--green_D3);
          font-size: calc(1.5rem + 3vw);
          font-family: ZenMaruGothic-Black;
          text-align: center;
          letter-spacing: 9px;
        }

        > p {
          margin: 18px 0;
          text-align: center;
          color: var(--font-blue);
          font-size: calc(1rem + 1vw);
          font-family: ZenMaruGothic-Bold;

          &.countDownTimer {
            padding: 9px 11px;
            color: var(--green_D2);
            font-size: 1rem;
            background: var(--green_L7);
            border-radius: 13px;
            -webkit-border-radius: 13px;
            -moz-border-radius: 13px;
            -ms-border-radius: 13px;
            -o-border-radius: 13px;
          }
        }
      }
    }

    // 專題簡略介紹 intro
    &.intro {
      background: var(--green_L7);
      width: 100%;

      > div.title {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: calc(100% - 24px);
        max-width: 720px;

        > h1 {
          position: relative;
          width: fit-content;
          font-size: calc(1.5rem + 3vw);
          font-family: ZenMaruGothic-Black;
          color: var(--green_D3);

          > span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -48px;
            left: 50%;
            text-align: center;
            height: 36px;
            padding: 6px 12px;
            font-size: calc(0.6rem + 0.6vw);
            width: fit-content;
            color: #ffffffd1;
            text-shadow: none;
            white-space: nowrap;
            background: var(--theme);
            border-radius: 18px;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            -ms-border-radius: 18px;
            -o-border-radius: 18px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
          }
        }
        > p {
          line-height: 1.381002381;
          letter-spacing: 0.011em;
          font-size: calc(0.8rem + 0.5vw);
          color: var(--green_D2);
        }
      }

      > img {
        &.assistant_icon {
          // position: absolute;
          top: 10%;
          left: 50%;
          height: 240px;
          margin-bottom: 48px + 24px;

          @media (max-width: 400px) {
            height: 200px;
          }
        }
      }
    }

    &.product {
      position: relative;
      height: 200vh;

      > div {
        &.microfarm {
          position: absolute;
          bottom: 24px;
          left: 12px;
          width: fit-content;

          > img {
            &.microfarm {
              height: auto;
              width: 60vw;
            }
            &.arrow {
              position: absolute;
              left: 50vw;
              bottom: 0;
              width: 240px;
            }
          }

          > p {
            position: absolute;
            right: -48px;
            bottom: 0;
            color: var(--green_D3);
            font-size: 2rem;
            font-family: ZenMaruGothic-Bold;
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -moz-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
          }
        }
      }
    }
  }
}
