@import '../../mixin.scss';

.container {
  // height: 100%;
  width: 100%;
  position: relative;

  > div {
    @include flex-layout(column, null, null);
    @include set_HW(calc(100vh - 80px), 100%);
    position: relative;
    overflow: hidden;

    @media (max-width: 600px) {
      padding: 120px 24px;
    }

    // 通用配置
    span {
      &:global(.nowrap) {
        display: inline-block;
        font-family: inherit;
        text-decoration: inherit;
        white-space: nowrap;
      }
      &:global(.end) {
        display: inline-block;
        font-family: inherit;
        text-decoration: inherit;
        position: absolute;
      }
    }

    // 對齊方式
    &.top {
      justify-content: flex-start;
    }
    &.bottom {
      justify-content: flex-end;
    }
    &.left {
      align-items: flex-start;
    }
    &.right {
      align-items: flex-end;
      > div.title {
        align-items: flex-end;

        > h1 {
          > span {
            left: inherit;
            right: 0;
          }
        }
        > p {
          text-align: end;
        }
      }
    }
    &.center_h {
      align-items: center;

      > div.title {
        align-items: center;

        > h1 {
          > span {
            left: inherit;
            // right: 0;
          }
        }
        > p {
          text-align: center;
        }
      }
    }
    &.center_v {
      justify-content: center;
    }

    // 入口版面
    &.header {
      @include flex-layout(row, center, center);
      padding: 120px 10%;
      height: 100vh;
      // background-color: var(--green_L8);

      > div.title {
        @include flex-layout(column, center, null);
        position: relative;
        @include set_HW(fit-content, max-content);

        > img {
          width: 120px;
        }
        > h1 {
          position: relative;
          width: fit-content;
          color: var(--green_D3);
          font-size: calc(1.5rem + 3vw);
          font-family: ZenMaruGothic-Black;
          text-align: center;
          letter-spacing: 9px;
        }

        > p {
          margin: 18px 0;
          text-align: center;
          color: var(--font-blue);
          font-size: calc(1rem + 1vw);
          font-family: ZenMaruGothic-Bold;

          &.countDownTimer {
            padding: 9px 11px;
            color: var(--green_D2);
            font-size: 1rem;
            background: var(--green_L7);
            @include border_radius(13px);
          }
        }

        // 關於全國專題競賽的特別通知
        > div.aboutProjectCompetition {
          @include flex-layout(column, center, null);
          margin-top: 24px;
          padding: 12px 18px;
          background: var(--green);
          @include border_radius(30px);
          @include transition(0.3s cubic-bezier(0.23, 1, 0.32, 1));
          border: 3px solid #5f5f5f00;
          cursor: pointer;

          &:hover {
            background: #0a0a0a;
            @include border_radius(21px);
            border: 3px solid #5f5f5f;

            > div.header {
              > p {
                color: #fff;
              }
              > svg {
                color: #fff;
              }
            }

            > div.description {
              margin-top: 0;

              > p {
                color: #ffffff7f;
              }
            }
          }

          > div.header {
            @include flex-layout(row, center, null);
            width: 100%;
            > p {
              font-size: 1.2rem;
              color: var(--green_L9);
              margin-bottom: 2px;
              @include transition(0.3s cubic-bezier(0.23, 1, 0.32, 1));
            }

            // Threads 圖標
            > svg {
              margin-right: 12px;
              font-size: 1.2rem;
              color: var(--green_L7);
              @include transition(0.3s cubic-bezier(0.23, 1, 0.32, 1));
            }
          }

          > div.description {
            width: 100%;
            height: 24px;
            margin-top: -24px;
            @include transition(0.4s cubic-bezier(0.5, 1.57, 0.38, 0.98));

            > p {
              font-size: 1rem;
              color: #ffffff00;
              @include transition(0.4s cubic-bezier(0.5, 1.57, 0.38, 0.98));
            }
          }
        }
      }
    }

    // 專題簡略介紹 intro
    &.intro {
      width: 100%;
      padding: 0;

      @media (min-width: 600px) {
        padding: 0 24px;
      }
      @media (max-width: 450px) {
        height: 70vh;
      }

      > div.introContainer {
        @include flex-layout(column, center, center);
        @include set_HW(100%, 100%);
        @include border_radius(24px);
        background: var(--green_L7);

        > div.title {
          @include flex-layout(column, center, center);
          height: fit-content;

          > h1 {
            position: relative;
            width: fit-content;
            font-size: calc(1.5rem + 3vw);
            font-family: ZenMaruGothic-Black;
            color: var(--green_D3);

            > span {
              @include flex-layout(row, center, center);
              position: absolute;
              top: -48px;
              left: 50%;
              text-align: center;
              height: 36px;
              padding: 6px 12px;
              font-size: calc(0.6rem + 0.6vw);
              width: fit-content;
              color: #ffffffd1;
              text-shadow: none;
              white-space: nowrap;
              background: var(--theme);
              @include border_radius(18px);
              @include transform(translateX(-50%));
            }
          }
          > p {
            width: fit-content;
            line-height: 1.381002381;
            letter-spacing: 0.011em;
            font-size: calc(0.8rem + 0.5vw);
            color: var(--green_D2);
            text-align: center;
          }
        }

        > img {
          &.assistant_icon {
            // position: absolute;
            top: 10%;
            left: 50%;
            height: 240px;
            margin-bottom: 48px + 24px;

            @media (max-width: 400px) {
              height: 200px;
            }
          }
        }
      }
    }

    &.product {
      position: relative;
      height: 200vh;

      > div {
        &.microfarm {
          position: absolute;
          bottom: 24px;
          left: 12px;
          width: fit-content;

          > img {
            &.microfarm {
              height: auto;
              width: 60vw;
            }
            &.arrow {
              position: absolute;
              left: 50vw;
              bottom: 0;
              width: 240px;
            }
          }

          > p {
            position: absolute;
            right: -48px;
            bottom: 0;
            color: var(--green_D3);
            font-size: 2rem;
            font-family: ZenMaruGothic-Bold;
            @include transform(translateX(100%));
          }
        }
      }
    }
  }
}
