.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.view > h1 {
  line-height: 2.2rem;
  margin: 12px 0;
  color: var(--font-reverse-op7);
}

.view > p {
  color: var(--font-reverse-op4);
}

.view > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  padding: 9px 18px;
  margin-top: 24px;
  font-size: 1rem;
  color: #fff;
  background: var(--theme);
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}
