.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  width: 100%;
  min-height: calc(100vh - 132px);

  > .switch_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin: 24px 0 24px 0;
    padding: 60px 80px;
    width: 100%;
    max-width: 420px;
    height: fit-content;
    background: #fff;
    border-top: 6px solid #efefef;
    border-left: 6px solid #efefef;
    border-bottom: 6px solid #dfdfdf;
    border-right: 6px solid #dfdfdf;

    @media (max-width: 480px) {
      padding: 60px 70px;
    }
    @media (max-width: 420px) {
      padding: 60px 50px 50px 50px;
    }
    @media (max-width: 360px) {
      padding: 60px 40px 40px 40px;
    }

    > .auth {
      position: absolute;
      top: 12px;
      left: 50%;
      padding: 5px 11px;
      font-size: 0.8rem;
      color: #fff;
      background: #ea5e5e;
      border: 3px solid #ec8181;
      cursor: default;

      &.actv {
        background: var(--green);
        border: 3px solid var(--green_L5);
      }

      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      border-radius: 24px;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
    }

    > .loading {
      position: absolute;
      bottom: 24px;
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }

    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
  }

  > .userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 0 0 0;
    padding: 12px;
    width: fit-content;
    height: 60px;
    background: var(--green_L6);
    border-top: 3px solid #0000000a;
    border-left: 3px solid #0000000a;
    border-bottom: 3px solid #0000001f;
    border-right: 3px solid #0000001f;
    cursor: default;

    * {
      user-select: none;
    }

    &.noAuth {
      background: #f5b6b6;

      > div.authStatus {
        background: #d44141;

        &.notSignin {
          cursor: pointer;
        }
      }
    }

    > img {
      margin-right: 12px;
      height: 100%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    > p {
      font-size: 1.1rem;
    }

    > div.authStatus {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 6px 6px 6px 12px;
      padding: 3px 9px 3px 6px;
      height: 48;
      background: var(--green_L3);

      > svg {
        margin-right: 6px;
        color: #fff;
      }
      > p {
        margin-bottom: 1px;
        font-size: 0.8rem;
        color: #fff;
      }

      border-radius: 24px;
      -webkit-border-radius: 24px;
      -moz-border-radius: 24px;
      -ms-border-radius: 24px;
      -o-border-radius: 24px;
    }

    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
}

div.switch {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  width: 92px;
  height: 120px;
  background: #f1f1f1;
  border: 5px solid #eaeaea;
  cursor: pointer;

  &:active {
    background: #dddddd;
    border: 5px solid #d6d6d6;
  }

  &.noAuth {
    opacity: 0.5;
  }

  &.open {
    background: #fff1ac;
    border: 5px solid #f0cf38;

    &:active {
      background: #e8dc9e;
      border: 5px solid #cdb135;
    }

    > .hole1,
    .hole2 {
      background: #968a57;
    }
  }

  > .hole1 {
    width: 40px;
    height: 12px;
    background: #0000007f;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  > .hole2 {
    width: 48px;
    height: 12px;
    background: #0000007f;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 0.15s ease-in-out;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -ms-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
}

.authControl {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 24px);
  max-width: 540px;
  padding: 48px 6px 6px 6px;

  > h1 {
    font-size: 1.2rem;
  }
  > ul {
    width: 100%;
    > li {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      position: relative;
      list-style: none;
      margin: 6px 0;
      padding: 6px;
      background: var(--green_L7);
      border: 3px solid var(--green_L6);
      height: fit-content;
      overflow: hidden;

      &.self {
        &::after {
          content: '你';
          z-index: 9000;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 44px - 9px;
          left: 44px - 9px;
          height: 18px;
          min-height: 18px;
          font-size: 10px;
          font-weight: 600;
          width: 18px;
          min-width: 18px;
          color: var(--opacity_w_9);
          background: var(--green_D2);
          border-radius: 9px;
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          -ms-border-radius: 9px;
          -o-border-radius: 9px;
        }
      }

      > img {
        position: relative;
        margin-right: 6px;
        height: 44px;
        // pointer-events: none;

        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      > div {
        &.userInfo {
          > p.userName {
            font-size: 1rem;
          }
          > p.userUID {
            padding: 1px 6px;
            margin-top: 3px;
            font-size: 0.7rem;
            color: var(--green_D3);
            background: var(--green_L6);
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;
          }
        }
        &.authStatus {
          position: absolute;
          right: 12px;
          top: 50%;

          > p {
            font-size: 1rem;
            color: var(--green_D3);
            background: var(--green_L7);
            box-shadow: 0 0 6px 12px var(--green_L7);
          }
          > select {
            font-size: 1rem;
            color: var(--green_D3);
            background: var(--green_L7);
            border: 2px solid var(--green_L6);
            box-shadow: 0 0 6px 12px var(--green_L7);
            border-radius: 9px;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            -ms-border-radius: 9px;
            -o-border-radius: 9px;
          }
          > button {
            margin: 0 6px;
            background: #ffffff00;
            font-size: 18px;
            color: #c25c5c;
          }

          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
        }
      }
      border-radius: 17px;
      -webkit-border-radius: 17px;
      -moz-border-radius: 17px;
      -ms-border-radius: 17px;
      -o-border-radius: 17px;
    }
  }

  > button {
    display: flex;
    align-items: center;
    justify-content: center;

    &.addUser {
      height: 36px;
      width: 36px;
      font-size: 24px;
      color: var(--green_L4);
      background: #ffffff00;

      &.actv {
        color: var(--green);
        &.update {
          color: var(--green_D2);
          transform: rotate(0deg);
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -ms-transform: rotate(0deg);
          -o-transform: rotate(0deg);
        }
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
      }
    }
    transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    -ms-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  }

  > div {
    &.addUserForm {
      display: flex;
      flex-direction: column;
      padding: 12px;
      width: 100%;
      max-width: 240px;
      background: #ffffff00;
      border: 3px solid var(--green_L6);

      > input {
        background: #ffffff00;
        color: var(--green_D5);
      }
      > button {
        margin-top: 6px;
        padding: 3px 6px;
        background: var(--green_L6);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
      }
      border-radius: 17px;
      -webkit-border-radius: 17px;
      -moz-border-radius: 17px;
      -ms-border-radius: 17px;
      -o-border-radius: 17px;
    }
  }
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
