@import '../../../../mixin.scss';

.view {
  @include flex-layout(row, null, center);
  width: 100%;
  padding: 0 0 80px + 24px 0;

  > .container {
    @include flex-layout(column, null, center);
    padding: 0 12px;
    width: 100%;
    max-width: 1400px;

    > .dashboardView {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 24px;

      * {
        cursor: default;
      }

      > .dashboardBlock {
        width: calc(50% - 12px);
        margin: 6px;
        padding: 12px 12px;
        height: 120px;
        position: relative;
        background: var(--white);

        @media (max-width: 385px) {
          width: calc(100% - 12px);
        }
        @media (min-width: 700px) {
          width: calc(33.333333% - 12px);
        }
        @media (min-width: 1100px) {
          width: calc(25% - 12px);
        }
        @media (min-width: 1300px) {
          width: calc(20% - 12px);
        }

        > .header {
          @include flex-layout(row, center, null);
          > span.status {
            margin-right: 6px;
            padding: 2px 7px;
            @include font(0.8rem, 500);
            color: var(--white);
            background: var(--black_opacity_2);
            @include border_radius(12px);

            &[data-actv='true'] {
              background: var(--green_L3);
            }
          }
          > p {
            &.name {
              @include font(1rem, 500);
              color: var(--green_L3);
            }
          }
        }

        > .dashboardData {
          @include flex-layout(column, flex-start, space-between);

          > p {
            &.data {
              margin: 0 6px;
              @include font(2.2rem, 600);
              color: var(--green_D7);
            }
            &.time {
              align-self: flex-end;
              @include font(0.8rem, 400);
              color: var(--black_opacity_3);
            }
          }
        }

        border-radius: 19px;
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
        -ms-border-radius: 19px;
        -o-border-radius: 19px;
      }
    }

    > .data_range {
      @include flex-layout(row, null, space-between);
      @include set-HW(42px, calc(100% - 12px));
      max-width: 720px;
      align-self: center;
      margin: 48px 0 6px 6px;
      border: 3px solid var(--yellow_L7);
      background: var(--yellow_L8);
      @include border-radius(21px);

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        > p {
          padding: 0 12px;
          color: var(--yellow_D3);
          @include font(1.2rem, 600);
        }

        > select {
          margin: 0 3px;
          padding: 0 3px;
          height: 28px;
          font-size: 0.9rem;
          background: #ffffff00;
          color: var(--yellow_D2);
          border: 2px solid var(--yellow_L7);
          background: var(--yellow_L9);
          @include border-radius(24px);
          @include transition(0.25s cubic-bezier(0.23, 1, 0.32, 1));

          &:hover {
            color: var(--white);
            border: 2px solid var(--yellow_L3);
            background: var(--yellow_L3);
          }
        }

        > button {
          @include buttonDynamicSize(28px);
          border: 2px solid var(--yellow_L7);
          margin: 0 3px;
          background: var(--yellow_L9);
          color: var(--yellow_D2);
          @include border-radius(14px);
          @include transition(0.25s cubic-bezier(0.23, 1, 0.32, 1));

          &:hover {
            color: var(--white);
            border: 2px solid var(--yellow_L3);
            background: var(--yellow_L3);
          }
        }
      }

      > button {
        width: 50%;
        padding: 3px 0;
        margin: 0 3px;

        @include border-radius(12px);
        @include transition(0.25s cubic-bezier(0.23, 1, 0.32, 1));

        &.switchData {
          width: fit-content;
          padding: 0 6px;
          background: #ffffff00;
          color: var(--yellow_L3);
          font-size: 1.2rem;

          &:hover {
            color: var(--yellow_D2);
          }
        }

        &[data-islast='true'] {
          opacity: 0;
        }
      }
    }
  }
}

.dataAnalysisBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;

  * {
    cursor: default;
  }

  > .chartBlock {
    width: calc(50% - 12px);
    margin: 6px;
    padding: 12px 12px;
    min-height: 240px;
    position: relative;
    background: var(--white);

    @media (max-width: 1080px) {
      width: calc(100% - 12px);
    }
    @media (min-width: 1300px) {
      width: calc(33.333333% - 12px);
    }
    @media (min-width: 1700px) {
      width: calc(25% - 12px);
    }

    @include border-radius(19px);

    > .header {
      @include flex-layout(row, center, null);
      > span.status {
        margin-right: 6px;
        padding: 2px 7px;
        @include font(0.8rem, 500);
        color: var(--white);
        background: var(--black_opacity_2);
        @include border_radius(12px);

        &[data-actv='true'] {
          background: var(--green_L5);
        }
      }
      > p {
        &.name {
          font-size: 1rem;
          color: var(--black_opacity_3);
        }
      }
    }

    > .chart {
      position: relative;
      width: 100%;
      height: 240px;
      margin-top: 6px;
    }
  }
}
