@import '../../../../mixin.scss';

.view {
  @include flex-layout(row, null, center);
  width: 100%;

  > .container {
    @include flex-layout(column, null, center);
    padding: 0 12px;
    width: 100%;
    max-width: 1400px;

    > .dashboardView {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 24px;

      * {
        cursor: default;
      }

      // 感測器即時數據方塊
      > .dashboardBlock {
        width: calc(50% - 12px);
        margin: 6px;
        padding: 12px 12px;
        height: 120px;
        background: var(--white);
        box-shadow: 3px 0 12px 9px var(--yellow_L9);

        @media (max-width: 385px) {
          width: calc(100% - 12px);
        }
        @media (max-width: 700px) {
          position: sticky;
          top: 88px;
        }
        @media (max-width: 435px) {
          top: 72px;
        }
        @media (min-width: 700px) {
          width: calc(33.333333% - 12px);
        }
        @media (min-width: 1100px) {
          width: calc(25% - 12px);
        }
        @media (min-width: 1300px) {
          width: calc(20% - 12px);
        }

        > .header {
          @include flex-layout(row, center, null);
          > span.status {
            margin-right: 6px;
            padding: 2px 7px;
            @include font(0.8rem, 500);
            color: var(--white);
            background: var(--black_opacity_2);
            @include border_radius(12px);

            &[data-actv='true'] {
              background: var(--green_L3);
            }
          }
          > p {
            &.name {
              @include font(1rem, 500);
              color: var(--green_L3);
            }
          }
        }

        > .dashboardData {
          @include flex-layout(column, flex-start, space-between);

          > p {
            &.data {
              margin: 0 6px;
              @include font(2.2rem, 600);
              color: var(--green_D7);
            }
            &.time {
              align-self: flex-end;
              @include font(0.8rem, 400);
              color: var(--black_opacity_3);
            }
          }
        }

        border-radius: 19px;
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
        -ms-border-radius: 19px;
        -o-border-radius: 19px;
      }
    }

    > .data_range {
      z-index: 100;
      @include flex-layout(row, null, space-between);
      @include set-HW(42px, calc(100% - 12px));
      position: sticky;
      top: 72px;
      max-width: 720px;
      align-self: center;
      margin: 48px 0 6px 0;
      border: 3px solid var(--yellow_L7);
      background: var(--yellow_L8);
      @include border-radius(21px);

      @media (max-width: 435px) {
        top: 54px;
        height: fit-content;
      }

      > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 435px) {
          flex-direction: column;

          > p {
            margin: 3px 0;
          }
        }

        > p {
          padding: 0 12px;
          color: var(--yellow_D2);
          @include font(1.2rem, 600);
        }
        > div {
          > select {
            margin: 0 3px;
            padding: 0 3px;
            height: 28px;
            font-size: 0.9rem;
            background: #ffffff00;
            color: var(--yellow_D2);
            border: 2px solid var(--yellow_L7);
            background: var(--yellow_L9);
            @include border-radius(24px);
            @include transition(0.25s cubic-bezier(0.23, 1, 0.32, 1));

            &:hover {
              color: var(--white);
              border: 2px solid var(--yellow_L3);
              background: var(--yellow_L3);
            }
          }

          > button {
            @include buttonDynamicSize(28px);
            border: 2px solid var(--yellow_L7);
            margin: 0 3px;
            background: var(--yellow_L9);
            color: var(--yellow_D2);
            @include border-radius(14px);
            @include transition(0.25s cubic-bezier(0.23, 1, 0.32, 1));

            &:hover {
              color: var(--white);
              border: 2px solid var(--yellow_L3);
              background: var(--yellow_L3);
            }
          }
        }
      }

      > button {
        width: 50%;
        padding: 3px 0;
        margin: 0 3px;

        @include border-radius(12px);
        @include transition(0.25s cubic-bezier(0.23, 1, 0.32, 1));

        &.switchData {
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          padding: 0 6px;
          background: #ffffff00;
          color: var(--yellow_L3);
          font-size: 1.2rem;

          &:hover {
            color: var(--yellow_D2);
          }
        }

        &[data-islast='true'] {
          opacity: 0;
        }
      }
    }
  }
}

.dataAnalysisBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;

  * {
    cursor: default;
  }

  > .chartBlock {
    width: calc(50% - 12px);
    margin: 6px;
    padding: 12px 12px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    background: var(--white);

    @media (max-width: 1080px) {
      width: calc(100% - 12px);
    }
    @media (min-width: 1300px) {
      width: calc(33.333333% - 12px);
    }
    @media (min-width: 1700px) {
      width: calc(25% - 12px);
    }

    @include border-radius(19px);

    > .header {
      @include flex-layout(row, center, null);
      > span.status {
        margin-right: 6px;
        padding: 2px 7px;
        @include font(0.8rem, 500);
        color: var(--white);
        background: var(--black_opacity_2);
        @include border_radius(12px);

        &[data-actv='true'] {
          background: var(--green_L5);
        }
      }
      > p {
        &.name {
          font-size: 1rem;
          color: var(--black_opacity_3);
        }
      }
    }

    > p.trend {
      @include font(0.8rem, 500);
      width: fit-content;
      margin: 6px 0;
      padding: 3px 9px;
      background: var(--ai);
      color: var(--white);
      @include border_radius(18px);
    }

    > .chart {
      position: relative;
      width: 100%;
      height: 240px;
      margin-top: 12px;
      // margin-bottom: 18px;

      * {
        @include transition(0.7s cubic-bezier(0.23, 1, 0.32, 1));
      }
    }
  }
}
